<div class="container">
  <div class="container-inner inner-default clearfix">
    <% @items.each do |item| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <% #TODO 商品画像 %>
            <% if item['mediumImageUrls'].first['imageUrl'] == "" %>
              <img src="no-image.png">
            <% else %>
              <%= link_to image_tag(item['mediumImageUrls'].first['imageUrl'].gsub('?_ex=128x128', '') , alt: item['itemName']),item['itemUrl'], { :target => "_blank"}  %>
            <% end %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <%=link_to item['itemName'], item['itemUrl'], { :target => "_blank"}  %>
          </p>
        </div>
        <div class="action clearfix">

            <% if current_user.want?(@item) %>
              <%= render 'want' %>
            <% else %>
              <%= render 'unwant' %>
            <% end %>
         
      
 
          <%= link_to "" , ownerships_path(item_code: item['itemCode'] , type: "Have") ,
                      :class => "btn-have btn btn-warning btn-sm have",
                      :item_code => "have-#{item['itemCode']}",
                      :remote => true,
                      :method => :post %>
        </div>
      </div>
    <% end %>
  </div>
</div>
